.updateDataPart {
  position: absolute;
  top: 190vh;
  width: 300px;
  background-color: silver;
  padding: 20px;
  .title {
    text-align: center;
  }
  .contentAndInputDiv {
    display: flex;
    justify-content: space-between;
  }
  .button {
    width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
}
